label {
	font-size: 0.7rem;
}

.input {
	border: 1px solid wheat;
	border-radius: 0.6rem;
	height: 1.3rem;
	width: 9.4rem;
	outline-color: wheat;
	background-color: transparent;
	color: wheat;
	padding: 0px 0.2rem;
}
